* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

button {
  cursor: pointer;
}

summary {
  cursor: pointer;
}
summary h2 {
  display: inline-block;
  margin-right: 10px;
}
