* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  cursor: pointer;
}

summary {
  cursor: pointer;
}
summary h2 {
  display: inline-block;
  margin-right: 10px;
}

input {
  width: 100%;
  max-width: 350px;
  padding: 7px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.2s ease;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

.button-basic {
  display: inline-block;
  height: auto;
  width: auto;
  max-width: 150px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 2px solid #6edb9e;
  border-radius: 5px;
  background-color: #6edb9e;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button-basic:hover,
.button-basic:focus {
  background-color: #57c79e;
  border-color: #57c79e;
  color: #fff;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (any-pointer: coarse) and (orientation: portrait) {
  main {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

@media (any-pointer: coarse) and (orientation: landscape) {
  main {
    width: 100vw;
    height: 100vh;
  }
}

@media (any-pointer: fine) {
  main {
    width: 100vw;
    height: 100vh;
  }
}
