.class-page {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 85%;
  overflow: auto;
}

.class-page h1 {
  margin-bottom: 20px;
}

.class-page p {
  margin-bottom: 10px;
}

.class-page-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  padding: 0 10px;
}

.class-page-button-students {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 10px;
  width: 45%;
  max-width: 300px;
  margin: 10px 5px;
}

.class-page-button-avatar-container {
  flex: 0 0 50%;
  margin-right: 10px;
}

.class-page-button-avatar {
  width: 100%;
  height: auto;
}

.class-page-button-text {
  flex: 1;
  overflow: hidden;
}

.class-page-button-text h1 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.class-page-button-text p {
  margin: 5px 0;
}

.class-page-statistics {
  display: flex;
}
