.class-page {
  flex: 1;
  flex-direction: column;
  height: 85%;
  position: relative;

  padding-left: 5%;
  padding-right: 5%;

  overflow-y: auto;
}

.class-page-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  padding: 0 10px;
}

.class-page-search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
