.class-page {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 85%;

  padding: 20px 15%;
  overflow: auto;
}

.class-page-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  padding: 0 10px;
}

.class-page-search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
