.class-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 50px;

  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;

  overflow: hidden;
}

.class-button-name {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 5px;
  margin-right: 10px;
  text-align: left;
}

.class-button-number {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.class-button > div {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.class-button > div > img {
  max-height: 50px;
  overflow: hidden;
}

.class-button__content-class {
  width: 50px;
  min-width: 50px;
}
