.custom-radio-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.custom-radio-button {
  display: flex;
  width: 90%;
  min-width: 250px;
  height: auto;

  margin: 5px;
  padding: 5px;

  border-radius: 5px;
}

.custom-radio-button-letter {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  width: auto;
  height: 90%;
  min-height: 25px;

  margin: 5px;

  border: 1px solid black;
  border-radius: 50%;
}

.custom-radio-button-answer {
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: center;
  text-align: left;
  overflow: hidden;
}

.custom-radio-button-answer-text,
.custom-radio-button-answer-code,
.custom-radio-button-answer-image {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  min-height: 35px;

  font-size: 16px;
}

/* Estilos para respuestas seleccionada - correcta - incorrecta - correcta no seleccionada */
.custom-radio-button.selected {
  border: 2px solid #498bf9;
}

.custom-radio-button-letter.selected {
  background-color: #498bf9;
  color: white;
}

.custom-radio-button.green {
  border: 2px solid #38d42a;
}

.custom-radio-button-letter.green {
  background-color: #38d42a;
  color: white;
}

.custom-radio-button.red {
  border: 2px solid #ec1b1b;
}

.custom-radio-button-letter.red {
  background-color: #ec1b1b;
  color: white;
}

.custom-radio-button.blue {
  border: 2px solid #498bf9;
}

.custom-radio-button-letter.blue {
  background-color: #498bf9;
  color: white;
}
