.footer {
  display: flex;
  height: 5%;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  background: #e1ebee;
  border-top: 1px solid #d3d3d3;
  z-index: 1000;
}

.circles {
  display: flex;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px 5px;
  border: 1px solid gray;
}

.answered {
  background-color: dodgerblue;
}

.current {
  background-color: lightblue;
}

.unanswered {
  background-color: white;
}
