.home-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 85%;

  padding: 20px 15%;
  overflow: auto;
}

.home-test-list-container {
  margin-top: 20px;
}

.category-quizzes-group {
  padding: 10px 0;
}
