.new-achievement-modal-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.new-achievement-modal-content > img {
  width: auto;
  height: auto;

  max-width: 100px;
  max-height: 100px;
}

.new-achievement-modal-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  margin-left: 30px;
}
