.question-type-1-container {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.question-type-1-diagram-image-container {
  flex: 1;
  border-right: 1px solid black;
  width: 50%;
  min-width: 170px;
}

.question-type-1-question-answers-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 50%;

  min-width: 300px;
}

.question-type-question-flag {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
}

.flag-button {
  margin-left: 5px;
  width: 40px;
  height: 40px;
  padding: 5px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 3px solid #fc8532;
}

.question-type-1-answers-container {
  flex: 1;
}

@media (any-pointer: coarse) {
  .question-type-1-question-answers-container {
    overflow: auto;
  }
}

@media (any-pointer: fine) {
  .question-type-1-answers-container {
    overflow: auto;
  }

  .question-text {
    max-height: 40vh;
    overflow: auto;
  }
}
