.question-type1-container {
  display: flex;
  flex: 1;
  height: 100%;
}

.image-container {
  height: 100%;
}

.image-container,
.text-container {
  padding: 20px;
}

.image-container img {
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.enlarged-image {
  max-width: 80%;
  max-height: 80%;
}

.text-container {
  background: #e1ebee;
}

.custom-controls {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 30px;
  width: 30px;
}

/* Estilo para los botones de zoom */
.custom-controls button {
  background-color: #eef5ff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 16px;
  outline: none;
}

.custom-controls button:hover {
  background-color: #ddd;
}
