.question-type-2-container {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.question-type-2-diagram-image-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;

  border-right: 1px solid black;
}

.question-type-2-individual-image-container {
  margin: 10px;

  border: 1px solid black;
}

.question-type-2-question-answers-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px;
}

.question-type-2-answers-container {
  flex: 1;
  overflow: auto;
}
