.question-type-1-container {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.question-type-1-diagram-image-container {
  flex: 1;
  border-right: 1px solid black;
  width: 50%;
  min-width: 170px;
}

.question-type-1-question-answers-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 50%;

  min-width: 300px;
}

.question-type-1-question-answers-container h2 {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.question-type-1-answers-container {
  flex: 1;
}

@media (any-pointer: coarse) {
  .question-type-1-question-answers-container {
    overflow: auto;
  }
}

@media (any-pointer: fine) {
  .question-type-1-answers-container {
    overflow: auto;
  }

  .question-text {
    max-height: 300px;
    overflow: auto;
  }
}
