.quiz-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 90%;
  justify-content: space-between;
  overflow: hidden;
}

.quiz-question {
  display: flex;
  height: 90%;
}

.quiz-footer {
  height: 10%;
}

.question-text {
  font-size: 18px;
  font-weight: bold;
}
