.quiz-footer-container {
  display: flex;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;

  background-color: #f2f2f2;
  overflow: auto;
}

.quiz-footer-button-previous {
  display: flex;
  align-items: center;
  justify-content: center;

  width: auto;
  height: auto;

  margin-left: 10px;
  margin-right: 10px;

  text-decoration: underline;
  background-color: transparent;
  border: none;
}

.quiz-footer-button-next {
  display: flex;
  align-items: center;
  justify-content: center;

  width: auto;
  height: auto;

  margin-left: 10px;
  margin-right: 10px;

  text-decoration: underline;
  background-color: transparent;
  border: none;
}

.quiz-footer-circle {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;

  aspect-ratio: 1/1;
  border-radius: 50%;

  width: auto;
  height: 70%;

  max-height: 30px;

  margin: 5px;

  border: 1px solid black;
  cursor: pointer;
}

.quiz-footer-circles-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.quiz-footer-button-finish-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: auto;
  height: 100%;
}

.quiz-footer-button-finish {
  display: flex;
  align-items: center;
  justify-content: center;

  width: auto;
  height: 80%;
  max-height: 40px;
  margin: 20px;

  font-weight: bold;

  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #6edb9e;
  border-radius: 5px;
  background-color: #6edb9e;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.quiz-footer-button-finish:hover,
.quiz-footer-button-finish:focus {
  background-color: #57c79e;
  border-color: #57c79e;
  color: #fff;
}

.quiz-footer-circle.completed {
  border: 3px solid #498bf9;
}
