.custom-quiz-button {
  display: flex;
  width: 100%;
  height: auto;
  cursor: pointer;
  background-color: white;
  text-decoration: none;
  padding: 10px;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.custom-quiz-button:hover {
  border: 2px solid #498bf9;
}
