.student-stats-page {
  flex: 1;
  flex-direction: column;
  height: 85%;

  padding: 20px 15%;
  overflow: auto;
}

.student-stats-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  padding: 0 10px;
}

.student-stats-back-button-container {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px 0px;
}
